<a id="top"></a>

# DB2 V11 Time and Date Functions

There are plenty of new date and time functions found in DB2 V11. These functions allow you to extract portions from a date
and format the date in a variety of different ways. While DB2 already has a number of date and time functions, these new
functions allow for greater compatibility with other database implementations, making it easier to port to DB2.ion.

In [ ]:
%run db2.ipynb

# Table of Contents

* [Extract Function](#extract)
* [DATE_PART Function](#part)
* [DATE_TRUNC Function](#trunc)
* [Extracting Specific Days from a Month](#month)
* [Date Addition](#add)
* [Extracting Weeks, Months, Quarters, and Years](#extract)
* [Next Day Function](#nextday)
* [Between Date/Time Functions](#between)
* [Months Between](#mbetween)
* [Date Duration](#duration)
* [Overlaps Predicate](#overlaps)
* [UTC Time Conversions](#utc)

[Back to Top](#top)
<a id='extract'></a>

## Extract Function

The EXTRACT function extracts and element from a date/time value. The syntax of the EXTRACT command is:
<pre>
EXTRACT( element FROM expression )
</pre>
This is a slightly different format from most functions that you see in the DB2. Element must be one of the following values:

|Element Name      | Description
|:---------------- | :-----------------------------------------------------------------------------------------
|EPOCH             | Number of seconds since 1970-01-01 00:00:00.00. The value can be positive or negative.
|MILLENNIUM(S)     | The millennium is to be returned.
|CENTURY(CENTURIES)| The number of full 100-year periods represented by the year.
|DECADE(S)         | The number of full 10-year periods represented by the year.
|YEAR(S)           | The year portion is to be returned. 
|QUARTER           | The quarter of the year (1 - 4) is to be returned.
|MONTH             | The month portion is to be returned. 
|WEEK              | The number of the week of the year (1 - 53) that the specified day is to be returned.
|DAY(S)            | The day portion is to be returned. 
|DOW               | The day of the week that is to be returned. Note that "1" represents Sunday. 
|DOY               | The day (1 - 366) of the year that is to be returned.
|HOUR(S)           | The hour portion is to be returned. 
|MINUTE(S)         | The minute portion is to be returned. 
|SECOND(S)         | The second portion is to be returned. 
|MILLISECOND(S)    | The second of the minute, including fractional parts to one thousandth of a second
|MICROSECOND(S)    | The second of the minute, including fractional parts to one millionth of a second

The synonym NOW is going to be used in the next example. NOW is a synonym for CURRENT TIMESTAMP.

In [ ]:
%sql VALUES NOW

This SQL will return every possible extract value from the current date.the SQL standard.

In [ ]:
%%sql -a
WITH DATES(FUNCTION, RESULT) AS (
  VALUES
    ('EPOCH',              EXTRACT( EPOCH          FROM NOW )),          
    ('MILLENNIUM(S)',      EXTRACT( MILLENNIUM     FROM NOW )),
    ('CENTURY(CENTURIES)', EXTRACT( CENTURY        FROM NOW )),    
    ('DECADE(S)',          EXTRACT( DECADE         FROM NOW )),
    ('YEAR(S)',            EXTRACT( YEAR           FROM NOW )),    
    ('QUARTER',            EXTRACT( QUARTER        FROM NOW )),    
    ('MONTH',              EXTRACT( MONTH          FROM NOW )),
    ('WEEK',               EXTRACT( WEEK           FROM NOW )),
    ('DAY(S)',             EXTRACT( DAY            FROM NOW )),    
    ('DOW',                EXTRACT( DOW            FROM NOW )),    
    ('DOY',                EXTRACT( DOY            FROM NOW )),    
    ('HOUR(S)',            EXTRACT( HOURS          FROM NOW )),    
    ('MINUTE(S)',          EXTRACT( MINUTES        FROM NOW )),
    ('SECOND(S)',          EXTRACT( SECONDS        FROM NOW )),
    ('MILLISECOND(S)',     EXTRACT( MILLISECONDS   FROM NOW )),    
    ('MICROSECOND(S)',     EXTRACT( MICROSECONDS   FROM NOW ))
  )
SELECT FUNCTION, CAST(RESULT AS BIGINT) FROM DATES

[Back to Top](#top)
<a id='part'></a>

## DATE_PART Function

DATE_PART is similar to the EXTRACT function but it uses the more familiar syntax:

<pre>
DATE_PART(element, expression)
</pre>

In the case of the function, the element must be placed in quotes, rather than as a keyword in the EXTRACT function. in addition, the DATE_PART always returns a BIGINT, while the EXTRACT function will return a different data type depending on the element being returned. For instance, compare the SECONDs option for both functions. In the case of EXTRACT you get a DECIMAL result while for the DATE_PART you get a truncated BIGINT.

In [ ]:
%%sql -a
WITH DATES(FUNCTION, RESULT) AS (
  VALUES
    ('EPOCH',              DATE_PART('EPOCH'          ,NOW )),          
    ('MILLENNIUM(S)',      DATE_PART('MILLENNIUM'     ,NOW )),
    ('CENTURY(CENTURIES)', DATE_PART('CENTURY'        ,NOW )),    
    ('DECADE(S)',          DATE_PART('DECADE'         ,NOW )),
    ('YEAR(S)',            DATE_PART('YEAR'           ,NOW )),    
    ('QUARTER',            DATE_PART('QUARTER'        ,NOW )),    
    ('MONTH',              DATE_PART('MONTH'          ,NOW )),
    ('WEEK',               DATE_PART('WEEK'           ,NOW )),
    ('DAY(S)',             DATE_PART('DAY'            ,NOW )),    
    ('DOW',                DATE_PART('DOW'            ,NOW )),    
    ('DOY',                DATE_PART('DOY'            ,NOW )),    
    ('HOUR(S)',            DATE_PART('HOURS'          ,NOW )),    
    ('MINUTE(S)',          DATE_PART('MINUTES'        ,NOW )),
    ('SECOND(S)',          DATE_PART('SECONDS'        ,NOW )),
    ('MILLISECOND(S)',     DATE_PART('MILLISECONDS'   ,NOW )),    
    ('MICROSECOND(S)',     DATE_PART('MICROSECONDS'   ,NOW ))
  )
SELECT FUNCTION, CAST(RESULT AS BIGINT) FROM DATES;

[Back to Top](#top)
<a id='trunc'></a>

## DATE_TRUNC Function

DATE_TRUNC computes the same results as the DATE_PART function but then truncates the value down. Note that not all values can be truncated. The function syntax is:

<pre>
DATE_TRUNC(element, expression)
</pre>

The element must be placed in quotes, rather than as a keyword in the EXTRACT function.
Note that DATE_TRUNC always returns a BIGINT.

The elements that can be truncated are:

|Element Name       |Description
|:----------------  |:------------------------------------------------------------------------------
|MILLENNIUM(S)      |The millennium is to be returned.
|CENTURY(CENTURIES) |The number of full 100-year periods represented by the year.
|DECADE(S)          |The number of full 10-year periods represented by the year.
|YEAR(S)            |The year portion is to be returned. 
|QUARTER            |The quarter of the year (1 - 4) is to be returned.
|MONTH              |The month portion is to be returned. 
|WEEK               |The number of the week of the year (1 - 53) that the specified day is to be returned.
|DAY(S)             |The day portion is to be returned.  
|HOUR(S)            |The hour portion is to be returned. 
|MINUTE(S)          |The minute portion is to be returned. 
|SECOND(S)          |The second portion is to be returned. 
|MILLISECOND(S)     |The second of the minute, including fractional parts to one thousandth of a second
|MICROSECOND(S)     |The second of the minute, including fractional parts to one millionth of a secondry data types.

In [ ]:
%%sql -a
WITH DATES(FUNCTION, RESULT) AS (
  VALUES         
    ('MILLENNIUM(S)',      DATE_TRUNC('MILLENNIUM'     ,NOW )),
    ('CENTURY(CENTURIES)', DATE_TRUNC('CENTURY'        ,NOW )),    
    ('DECADE(S)',          DATE_TRUNC('DECADE'         ,NOW )),
    ('YEAR(S)',            DATE_TRUNC('YEAR'           ,NOW )),    
    ('QUARTER',            DATE_TRUNC('QUARTER'        ,NOW )),    
    ('MONTH',              DATE_TRUNC('MONTH'          ,NOW )),
    ('WEEK',               DATE_TRUNC('WEEK'           ,NOW )),
    ('DAY(S)',             DATE_TRUNC('DAY'            ,NOW )),    
    ('HOUR(S)',            DATE_TRUNC('HOURS'          ,NOW )),    
    ('MINUTE(S)',          DATE_TRUNC('MINUTES'        ,NOW )),
    ('SECOND(S)',          DATE_TRUNC('SECONDS'        ,NOW )),
    ('MILLISECOND(S)',     DATE_TRUNC('MILLISECONDS'   ,NOW )),    
    ('MICROSECOND(S)',     DATE_TRUNC('MICROSECONDS'   ,NOW ))
  )
SELECT FUNCTION, RESULT FROM DATES

[Back to Top](#top)
<a id='month'></a>

## Extracting Specfic Days from a Month

There are three functions that retrieve day information from a date. These functions include:

- DAYOFMONTH - returns an integer between 1 and 31 that represents the day of the argument
- FIRST_DAY - returns a date or timestamp that represents the first day of the month of the argument
- DAYS_TO_END_OF_MONTH - returns the number of days to the end of the month

This is the current date so that you know what all of the calculations are based on.

In [ ]:
%sql VALUES NOW

This expression (DAYOFMONTH) returns the day of the month.

In [ ]:
%sql VALUES DAYOFMONTH(NOW)

FIRST_DAY will return the first day of the month. You could probably compute this with standard SQL date functions, but it is a lot easier just to use this builtin function.

In [ ]:
%sql VALUES FIRST_DAY(NOW)

Finally, DAYS_TO_END_OF_MOTNH will return the number of days to the end of the month. A Zero would be returned if you are on the last day of the month.

In [ ]:
%sql VALUES DAYS_TO_END_OF_MONTH(NOW)

[Back to Top](#top)
<a id='add'></a>

## Date Addition Functions

The date addition functions will add or subtract days from a current timestamp. The functions that 
are available are:

- ADD_YEARS - Add years to a date
- ADD_MONTHS - Add months to a date
- ADD_DAYS - Add days to a date
- ADD_HOURS - Add hours to a date
- ADD_MINUTES - Add minutes to a date
- ADD_SECONDS - Add seconds to a date

The format of the function is:
<pre> 
ADD_DAYS ( expression, numeric expression )
</pre>

The following SQL will add one "unit" to the current date.

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS 
  ( 
  VALUES
    ('CURRENT DATE   ',NOW),
    ('ADD_YEARS      ',ADD_YEARS(NOW,1)),
    ('ADD_MONTHS     ',ADD_MONTHS(NOW,1)),
    ('ADD_DAYS       ',ADD_DAYS(NOW,1)),
    ('ADD_HOURS      ',ADD_HOURS(NOW,1)),
    ('ADD_MINUTES    ',ADD_MINUTES(NOW,1)),
    ('ADD_SECONDS    ',ADD_SECONDS(NOW,1))
  )
SELECT * FROM DATES

A negative number can be used to subtract values from the current date.

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS 
  ( 
  VALUES
    ('CURRENT DATE   ',NOW),
    ('ADD_YEARS      ',ADD_YEARS(NOW,-1)),
    ('ADD_MONTHS     ',ADD_MONTHS(NOW,-1)),
    ('ADD_DAYS       ',ADD_DAYS(NOW,-1)),
    ('ADD_HOURS      ',ADD_HOURS(NOW,-1)),
    ('ADD_MINUTES    ',ADD_MINUTES(NOW,-1)),
    ('ADD_SECONDS    ',ADD_SECONDS(NOW,-1))
  )
SELECT * FROM DATES

[Back to Top](#top)
<a id='extract'></a>

## Extracting Weeks, Months, Quarters, and Years from a Date

There are four functions that extract different values from a date. These functions include:

- THIS_QUARTER - returns the first day of the quarter
- THIS_WEEK - returns the first day of the week (Sunday is considered the first day of that week)
- THIS_MONTH - returns the first day of the month
- THIS_YEAR - returns the first day of the year

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS 
  ( 
  VALUES
    ('CURRENT DATE   ',NOW),
    ('THIS_WEEK      ',THIS_WEEK(NOW)),
    ('THIS_MONTH     ',THIS_MONTH(NOW)),
    ('THIS_QUARTER   ',THIS_QUARTER(NOW)),
    ('THIS_YEAR      ',THIS_YEAR(NOW))
  )
SELECT * FROM DATES

There is also a NEXT function for each of these. The NEXT function will return the next week, month, quarter,
or year given a current date.

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS 
  ( 
  VALUES
    ('CURRENT DATE   ',NOW),
    ('NEXT_WEEK      ',NEXT_WEEK(NOW)),
    ('NEXT_MONTH     ',NEXT_MONTH(NOW)),
    ('NEXT_QUARTER   ',NEXT_QUARTER(NOW)),
    ('NEXT_YEAR      ',NEXT_YEAR(NOW))
  )
SELECT * FROM DATES

[Back to Top](#top)
<a id='nextday'></a>

## Next Day Function

The previous set of functions returned a date value for the current week, month, quarter, or year (or the next one
if you used the NEXT function). The NEXT_DAY function returns the next day (after the date you supply) 
based on the string representation of the day. The date string will be dependent on the codepage that you are using for the database.

The date (from an English perspective) can be:

|Day       |Short form
|:-------- |:---------
|Monday    |MON
|Tuesday   |TUE
|Wednesday |WED
|Thursday  |THU
|Friday    |FRI
|Saturday  |SAT
|Sunday    |SUN

The following SQL will show you the "day" after the current date that is Monday through Sunday.

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS 
  ( 
  VALUES
    ('CURRENT DATE   ',NOW),
    ('Monday         ',NEXT_DAY(NOW,'Monday')),
    ('Tuesday        ',NEXT_DAY(NOW,'TUE')),
    ('Wednesday      ',NEXT_DAY(NOW,'Wednesday')),
    ('Thursday       ',NEXT_DAY(NOW,'Thursday')),
    ('Friday         ',NEXT_DAY(NOW,'FRI')),
    ('Saturday       ',NEXT_DAY(NOW,'Saturday')),
    ('Sunday         ',NEXT_DAY(NOW,'Sunday'))    
  )
SELECT * FROM DATES

[Back to Top](#top)
<a id='between'></a>

## Between Date/Time Functions

These date functions compute the number of full seconds, minutes, hours, days, weeks, and years between
two dates. If there isn't a full value between the two objects (like less than a day), a zero will be
returned. These new functions are:

- HOURS_BETWEEN - returns the number of full hours between two arguments
- MINUTES_BETWEEN - returns the number of full minutes between two arguments
- SECONDS_BETWEEN - returns the number of full seconds between two arguments
- DAYS_BETWEEN - returns the number of full days between two arguments
- WEEKS_BETWEEN - returns the number of full weeks between two arguments
- YEARS_BETWEEN - returns the number of full years between two arguments

The format of the function is:
<pre>
DAYS_BETWEEN( expression1, expression2 )
</pre>
The following SQL will use a date that is in the future with exactly one extra second, minute, hour, day,
week and year added to it.

In [ ]:
%%sql -q
DROP VARIABLE FUTURE_DATE;
CREATE VARIABLE FUTURE_DATE TIMESTAMP DEFAULT(NOW + 1 SECOND + 1 MINUTE + 1 HOUR + 8 DAYS + 1 YEAR);

WITH DATES(FUNCTION, RESULT) AS (
  VALUES         
    ('SECONDS_BETWEEN',SECONDS_BETWEEN(FUTURE_DATE,NOW)),
    ('MINUTES_BETWEEN',MINUTES_BETWEEN(FUTURE_DATE,NOW)),    
    ('HOURS_BETWEEN  ',HOURS_BETWEEN(FUTURE_DATE,NOW)), 
    ('DAYS BETWEEN   ',DAYS_BETWEEN(FUTURE_DATE,NOW)),   
    ('WEEKS_BETWEEN  ',WEEKS_BETWEEN(FUTURE_DATE,NOW)),   
    ('YEARS_BETWEEN  ',YEARS_BETWEEN(FUTURE_DATE,NOW))
  )
SELECT * FROM DATES;

[Back to Top](#top)
<a id='mbetween'></a>

## MONTHS_BETWEEN Function

You may have noticed that the MONTHS_BETWEEN function was not in the previous list of functions. The
reason for this is that the value returned for MONTHS_BETWEEN is different from the other functions. The MONTHS_BETWEEN
function returns a DECIMAL value rather than an integer value. The reason for this is that the duration of a
month is not as precise as a day, week or year. The following example will show how the duration is 
a decimal value rather than an integer. You could always truncate the value if you want an integer.

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS (
  VALUES         
    ('0 MONTH        ',MONTHS_BETWEEN(NOW, NOW)),
    ('1 MONTH        ',MONTHS_BETWEEN(NOW + 1 MONTH, NOW)),    
    ('1 MONTH + 1 DAY',MONTHS_BETWEEN(NOW + 1 MONTH + 1 DAY, NOW)), 
    ('LEAP YEAR      ',MONTHS_BETWEEN('2016-02-01','2016-03-01')),
    ('NON-LEAP YEAR  ',MONTHS_BETWEEN('2015-02-01','2015-03-01'))
  )
SELECT * FROM DATES

[Back to Top](#top)
<a id='duration'></a>

## Date Duration Functions

An alternate way of representing date durations is through the use of an integer with the format YYYYMMDD where
the YYYY represents the year, MM for the month and DD for the day. Date durations are easier to manipulate than
timestamp values and take up substantially less storage.

There are two new functions.

 - YMD_BETWEEN returns a numeric value that specifies the number of full years, full months, and full days between two datetime values
 - AGE returns a numeric value that represents the number of full years, full months, and full days between the current timestamp and the argument
   
This SQL statement will return various AGE calculations based on the current timestamp.

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS (
  VALUES         
    ('AGE + 1 DAY                   ',AGE(NOW - 1 DAY)),
    ('AGE + 1 MONTH                 ',AGE(NOW - 1 MONTH)),
    ('AGE + 1 YEAR                  ',AGE(NOW - 1 YEAR)),
    ('AGE + 1 DAY + 1 MONTH         ',AGE(NOW - 1 DAY - 1 MONTH)),
    ('AGE + 1 DAY + 1 YEAR          ',AGE(NOW - 1 DAY - 1 YEAR)),
    ('AGE + 1 DAY + 1 MONTH + 1 YEAR',AGE(NOW - 1 DAY - 1 MONTH - 1 YEAR))
  )
SELECT * FROM DATES

The YMD_BETWEEN function is similar to the AGE function except that it takes two date arguments. We can
simulate the AGE function by supplying the NOW function to the YMD_BETWEEN function.

In [ ]:
%%sql
WITH DATES(FUNCTION, RESULT) AS (
  VALUES         
    ('1 DAY                   ',YMD_BETWEEN(NOW,NOW - 1 DAY)),
    ('1 MONTH                 ',YMD_BETWEEN(NOW,NOW - 1 MONTH)),
    ('1 YEAR                  ',YMD_BETWEEN(NOW,NOW - 1 YEAR)),
    ('1 DAY + 1 MONTH         ',YMD_BETWEEN(NOW,NOW - 1 DAY - 1 MONTH)),
    ('1 DAY + 1 YEAR          ',YMD_BETWEEN(NOW,NOW - 1 DAY - 1 YEAR)),
    ('1 DAY + 1 MONTH + 1 YEAR',YMD_BETWEEN(NOW,NOW - 1 DAY - 1 MONTH - 1 YEAR))
  )
SELECT * FROM DATES

[Back to Top](#top)
<a id='overlaps'></a>

## OVERLAPS Predicate

The OVERLAPS predicate is used to determine whether two chronological periods overlap. This is not a 
function within DB2, but rather a special SQL syntax extension. 

A chronological period is specified by a pair of date-time expressions. The first expression specifies
the start of a period; the second specifies its end.

<pre>
(start1,end1) OVERLAPS (start2, end2)
</pre>

The beginning and end values are not included in the periods. The following 
summarizes the overlap logic. For example, the periods 2016-10-19 to 2016-10-20 
and 2016-10-20 to 2016-10-21 do not overlap. 
   
For instance, the following interval does not overlap.

In [ ]:
%%sql
VALUES
  CASE
    WHEN 
      (NOW, NOW + 1 DAY) OVERLAPS (NOW + 1 DAY, NOW + 2 DAYS) THEN 'Overlaps'
    ELSE
      'No Overlap'
  END

If the first date range is extended by one day then the range will overlap.

In [ ]:
%%sql
VALUES
  CASE
    WHEN 
      (NOW, NOW + 2 DAYS) OVERLAPS (NOW + 1 DAY, NOW + 2 DAYS) THEN 'Overlaps'
    ELSE
      'No Overlap'
  END

Identical date ranges will overlap.

In [ ]:
%%sql
VALUES
  CASE
    WHEN 
      (NOW, NOW + 1 DAY) OVERLAPS (NOW, NOW + 1 DAY) THEN 'Overlaps'
    ELSE
      'No Overlap'
  END

[Back to Top](#top)
<a id='utc'></a>

# UTC Time Conversions

DB2 has two functions that allow you to translate timestamps to and from UTC (Coordinated Universal Time).

The FROM_UTC_TIMESTAMP scalar function returns a TIMESTAMP that is converted from Coordinated Universal Time 
to the time zone specified by the time zone string. 

The TO_UTC_TIMESTAMP scalar function returns a TIMESTAMP that is converted to Coordinated Universal Time 
from the timezone that is specified by the timezone string. 

The format of the two functions is:

<pre>
FROM_UTC_TIMESTAMP( expression, timezone )
TO_UTC_TIMESTAMP( expression, timezone)
</pre>

The return value from each of these functions is a timestamp. The "expression" is a timestamp that
you want to convert to the local timezone (or convert to UTC). The timezone is 
an expression that specifies the time zone that the expression is to be adjusted to. 
The value of the timezone-expression must be a time zone name from the Internet Assigned Numbers Authority (IANA)
time zone database. The standard format for a time zone name in the IANA database is Area/Location, where:

- Area is the English name of a continent, ocean, or the special area 'Etc'
- Location is the English name of a location within the area; usually a city, or small island

Examples:

- "America/Toronto"
- "Asia/Sakhalin"
- "Etc/UTC" (which represents Coordinated Universal Time)

For complete details on the valid set of time zone names and the rules that are associated with those time zones,
refer to the IANA time zone database. The database server uses version 2010c of the IANA time zone database. 

The result is a timestamp, adjusted from/to the Coordinated Universal Time time zone to the time zone 
specified by the timezone-expression. If the timezone-expression returns a value that is not a time zone 
in the IANA time zone database, then the value of expression is returned without being adjusted.

The timestamp adjustment is done by first applying the raw offset from Coordinated Universal Time of the 
timezone-expression. If Daylight Saving Time is in effect at the adjusted timestamp for the time zone 
that is specified by the timezone-expression, then the Daylight Saving Time offset is also applied 
to the timestamp.

Time zones that use Daylight Saving Time have ambiguities at the transition dates. When a time zone 
changes from standard time to Daylight Saving Time, a range of time does not occur as it is skipped 
during the transition. When a time zone changes from Daylight Saving Time to standard time, 
a range of time occurs twice. Ambiguous timestamps are treated as if they occurred when standard time 
was in effect for the time zone.    
    
Convert the Coordinated Universal Time timestamp '2011-12-25 09:00:00.123456' to the 'Asia/Tokyo' time zone. 
The following returns a TIMESTAMP with the value '2011-12-25 18:00:00.123456'.

In [ ]:
%%sql
VALUES FROM_UTC_TIMESTAMP(TIMESTAMP '2011-12-25 09:00:00.123456', 'Asia/Tokyo');

Convert the Coordinated Universal Time timestamp '2014-11-02 06:55:00' to the 'America/Toronto' time zone. 
The following returns a TIMESTAMP with the value '2014-11-02 01:55:00'.

In [ ]:
%%sql
VALUES FROM_UTC_TIMESTAMP(TIMESTAMP'2014-11-02 06:55:00', 'America/Toronto');

Convert the Coordinated Universal Time timestamp '2015-03-02 06:05:00' to the 'America/Toronto' 
time zone. The following returns a TIMESTAMP with the value '2015-03-02 01:05:00'.

In [ ]:
%%sql
VALUES FROM_UTC_TIMESTAMP(TIMESTAMP'2015-03-02 06:05:00', 'America/Toronto');

Convert the timestamp '1970-01-01 00:00:00' to the Coordinated Universal Time timezone from the 'America/Denver'
timezone. The following returns a TIMESTAMP with the value '1970-01-01 07:00:00'.

In [ ]:
%%sql
VALUES TO_UTC_TIMESTAMP(TIMESTAMP'1970-01-01 00:00:00', 'America/Denver');

## Using UTC Functions

One of the applications for using the UTC is to take the transaction timestamp and normalize it across
all systems that access the data. You can convert the timestamp to UTC on insert and then when it is 
retrieved, it can be converted to the local timezone.

This example will use a number of techniques to hide the complexity of changing timestamps to local timezones.

The following SQL will create our base transaction table (TXS_BASE) that will be used throughout the
example.

In [ ]:
%%sql -q
DROP TABLE TXS_BASE;
CREATE TABLE TXS_BASE
  (
  ID INTEGER NOT NULL,
  CUSTID INTEGER NOT NULL,
  TXTIME_UTC TIMESTAMP NOT NULL
  );

The UTC functions will be written to take advantage of a local timezone variable called TIME_ZONE. This
variable will contain the timezone of the server (or user) that is running the transaction. In this 
case we are using the timezone in Toronto, Canada.

In [ ]:
%%sql
CREATE OR REPLACE VARIABLE TIME_ZONE VARCHAR(255) DEFAULT('America/Toronto');

The SET Command can be used to update the TIME_ZONE to the current location we are in.

In [ ]:
%sql SET TIME_ZONE = 'America/Toronto'

In order to retrieve the value of the current timezone, we take advantage of a simple user-defined function
called GET_TIMEZONE. It just retrieves the contents of the current TIME_ZONE variable that we set up.

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION GET_TIMEZONE()
  RETURNS VARCHAR(255)
LANGUAGE SQL CONTAINS SQL
  RETURN (TIME_ZONE)

The TXS view is used by all SQL statements rather than the TXS_BASE table. The reason for this is to 
take advantage of INSTEAD OF triggers that can manipulate the UTC without modifying the original SQL.

Note that when the data is returned from the view that the TXTIME field is converted from UTC to the current
TIMEZONE that we are in.

In [ ]:
%%sql  
CREATE OR REPLACE VIEW TXS AS
  (
  SELECT
     ID,
     CUSTID,
     FROM_UTC_TIMESTAMP(TXTIME_UTC,GET_TIMEZONE()) AS TXTIME
  FROM
     TXS_BASE
  )

An INSTEAD OF trigger (INSERT, UPDATE, and DELETE) is created against the TXS view so that any insert or 
update on a TXTIME column will be converted back to the UTC value. From an application perspective, 
we are using the local time, not the UTC time.

In [ ]:
%%sql -d
CREATE OR REPLACE TRIGGER I_TXS
  INSTEAD OF INSERT ON TXS
  REFERENCING NEW AS NEW_TXS
  FOR EACH ROW MODE DB2SQL
BEGIN ATOMIC
  INSERT INTO TXS_BASE VALUES (
     NEW_TXS.ID,
     NEW_TXS.CUSTID,
     TO_UTC_TIMESTAMP(NEW_TXS.TXTIME,GET_TIMEZONE())
     );
END
@

CREATE OR REPLACE TRIGGER U_TXS
  INSTEAD OF UPDATE ON TXS
  REFERENCING NEW AS NEW_TXS OLD AS OLD_TXS
  FOR EACH ROW MODE DB2SQL
BEGIN ATOMIC
  UPDATE TXS_BASE 
     SET (ID, CUSTID, TXTIME_UTC) = 
         (NEW_TXS.ID,
          NEW_TXS.CUSTID,
          TO_UTC_TIMESTAMP(NEW_TXS.TXTIME,TIME_ZONE)
          )
     WHERE 
       TXS_BASE.ID = OLD_TXS.ID
     ;
END
@

CREATE OR REPLACE TRIGGER D_TXS
  INSTEAD OF DELETE ON TXS
  REFERENCING OLD AS OLD_TXS
  FOR EACH ROW MODE DB2SQL
BEGIN ATOMIC
  DELETE FROM TXS_BASE 
     WHERE 
       TXS_BASE.ID = OLD_TXS.ID
     ;
END
@

At this point in time(!) we can start inserting records into our table. We have already set the timezone
to be Toronto, so the next insert statement will take the current time (NOW) and insert it into the table. 
For reference, here is the current time.

In [ ]:
%sql VALUES NOW

We will insert one record into the table and immediately retrieve the result.

In [ ]:
%%sql
INSERT INTO TXS VALUES(1,1,NOW);

SELECT * FROM TXS;

Note that the timsstamp appears to be the same as what we insert (plus or minus a few seconds). What actually
sits in the base table is the UTC time.

In [ ]:
%sql SELECT * FROM TXS_BASE

We can modify the time that is returned to us by changing our local timezone. The statement will make 
the system think we are in Vancouver.

In [ ]:
%sql SET TIME_ZONE = 'America/Vancouver'

Retrieving the results will show that the timestamp has shifted by 3 hours (Vancouver is 3 hours behind
Toronto).

In [ ]:
%sql SELECT * FROM TXS

So what happens if we insert a record into the table now that we are in Vancouver?

In [ ]:
%%sql
INSERT INTO TXS VALUES(2,2,NOW);
SELECT * FROM TXS;

The data retrieved reflects the fact that we are now in Vancouver from an application perspective. Looking at the
base table and you will see that everything has been converted to UTC time.

In [ ]:
%sql SELECT * FROM TXS_BASE

Finally, we can switch back to Toronto time and see when the transactions were done. You will see that from a
Toronto perspetive tht the transactions were done three hours later because of the timezone differences.

In [ ]:
%%sql
SET TIME_ZONE = 'America/Toronto';
SELECT * FROM TXS;

[Back to Top](#top)

#### Credits: IBM 2017, George Baklarz [baklarz@ca.ibm.com]